h1{
    background-color: cyan;
   text-align: center;
}
a{
    color: rgb(52, 15, 15);
}
h1{
    background-color: cyan;
}
a{
    color: rgb(255, 255, 255);
}
body{ height: 600px;
    background-color: rgb(98, 145, 145);

margin: 30px 50px;
border: 3px solid rgb(24, 57, 79);}